{% extends 'base.html' %}
{%  load bootstrap4 %}
{% load widget_tweaks %}


{% block body %}
<form method="POST" enctype="multipart/form-data" >
<br>
<br>
<br>
<br>
<br>
<br>
    {%  csrf_token  %}
      {%   bootstrap_form form  %}
      {% comment %} {% render_field form.test_name class='form-control' placeholder='Write your name ..' %} {% endcomment %}

      <button type="submit" class="btn btn-primary" >Save</button>
   </form>
 
{% if y  %}

    <h2> Patient List  </h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr><th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for  x in y  %}
          <tr>
            <td>{{x.p_name}}</td>
            <td>{{x.p_sex|default_if_none:""}}</td>
            <td>{{x.p_age|default_if_none:""}}</td>
            <td>{{x.p_phone|default_if_none:""|phone2numeric }}</td>

                <td class="rowlink-skip">
                    <a href="#">X</a>
                    <a href="#">Action</a>
                </td>
        </tr>
          
          {% endfor %}
        </tbody>
      </table>


{% endif %}



{% endblock body %}


<script>

    
</script>