{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_title  %}
<h2>
    {{job}}
</h2>
{% endblock %}
{% block body %}


<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">
          <p class="lead">
               <i class="fa fa-map-marker"></i> London &nbsp;&nbsp;
               <i class="fa fa-calendar"></i> {{job.published_at | date:"d-m-Y"}} &nbsp;&nbsp;
               <i class="fa fa-file"></i> Contract
          </p>

          <br>
          <br>
          
          <div class="form-group">
            <h5>Decription</h5>
          </div>
          <br>
         <p>
          {{job.description}}
         </p>
          <br>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="contact-form">
          <div class="form-group">
            <button type="submit" class="filled-button btn-block">Apply for this job</button>
          </div>
        </div>

        <div>
          <img src=" {{job.image.url}} " alt="kljljk" class="img-fluid wc-image">
        </div>

        <br>

        <ul class="social-icons text-center">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>

        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="section-heading">
        </div>

       <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}

                  

       <div class="contact-form">
        
          <button type="submit" class="filled-button btn-block">Apply for this job</button>
        </form>
      </div>
      </div>

      <div class="col-md-3">
        <div class="section-heading">
          <h2>Contact Details</h2>
        </div>
        
        <div class="left-content">
          <p>
            <span>Name</span>

            <br>

            <strong>John Smith</strong>
          </p>

          <p>
            <span>Phone</span>

            <br>
            
            <strong>
              <a href="tel:123-456-789">123-456-789</a>
            </strong>
          </p>

          <p>
            <span>Mobile phone</span>

            <br>
            
            <strong>
              <a href="tel:456789123">456789123</a>
            </strong>
          </p>

          <p>
            <span>Email</span>

            <br>
            
            <strong>
              <a href="mailto:john@carsales.com">john@carsales.com</a>
            </strong>
          </p>

          <p>
            <span>Website</span>

            <br>
            
            <strong>
              <a href="http://www.cannonguards.com/">http://www.cannonguards.com/</a>
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}