{% extends "base.html"%}
{% load bootstrap4 %}
{% block page_title %}
<h2>
     Jobs Avilable
</h2>
{% endblock %}
{% block body %}

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
         <div class="contact-form">
           <form method="get">
{% bootstrap_form myfilter.form %}
<input type="submit">
           </form>
         </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          {% for x in all_job %}
          <div class="col-md-6">
            
            <div class="product-item">
              <a href="{% url  'jobs:job_detail' x.id  %}"><img src="  {{x.image.url}}  " alt="image" ></a>
              <div class="down-content">
                <a href="{% url  'jobs:job_detail' x.id  %}"><h4>{{x.title}}</h4></a>
      
                <h6>{{x.salary}}</h6>
      
                <h4><small><i class="fa fa-briefcase"></i> Medical / {{x.category}} <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>
      
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> {{x.published_at | date:"d-m-Y"}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                </small>
              </div>
            
            </div>
            
          </div>
          {% endfor %}
         
        
          {% if all_job.has_other_pages %}
          <div class="col-md-12">
            <ul class="pages">
              {% if all_job.has_previous %}
              <li><a href="?page={{all_job.previous_page_number}} "><i class="fa fa-angle-double-left"></i></a></li>
              {% endif %}
      
              {% for i in all_job.paginator.page_range %}
              
      
                <li class="{% if i   == all_job.number %} active {% endif %}" ><a href="?page={{i}}">{{i}}</a></li>
              
           
      
              {% endfor %}
      
              
      
      
              {% if all_job.has_next %}
              <li><a href="?page={{all_job.next_page_number}}"><i class="fa fa-angle-double-right"></i></a></li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{%  endblock %}